ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1{
    color:blue;
    display:flex;
    flex-direction: row;
    width:100%;
  }

 .infoContainer{
   margin: 5px 0px 15px 10px;
   
 }

