<app-search-criteria></app-search-criteria>
<div class="all-events-header">
<h1>All Events</h1>
</div>
<div *ngFor="let e of events; let i =index" class="event-detail-background">
    <ul>
        <a href="{{e.url}}" target="blank"><img width="340" height="150" src={{e?.images[0]?.url}} class="desktop-photo"></a>
        <li class="event-info"><strong>Event Name: </strong> {{e?.name}}</li>
        <li class="event-info"><strong>Date: </strong> {{e.dates?.start?.localDate}} </li>
        <li class="event-info"><strong>City: </strong> {{e?._embedded?.venues[0]?.city.name}} </li>
        <li class="event-info"><strong>State: </strong> {{e?._embedded?.venues[0]?.state.stateCode}} </li>
        <li class="event-info"><strong>Postal Code: </strong> {{e?._embedded?.venues[0]?.postalCode}} </li>
   

    <div class ="add">
                <button (click)="addToBucketList(e)" class="eventButtons"><i class="fas fa-plus-circle"> <span> BucketList</span></i></button>
                <!-- <p>Click + to add the event to your buckelist</p> -->
                <button class="eventButtons" (click)="toggleDisplay(i)"> <i class="fas fa-chevron-circle-down"><span> More Info</span></i></button>
        </div>
    </ul>

    <!-- <div class="add">
        <button (click)="addToBucketList(e)">Add to Bucket List</button>
      </div>

    <button (click)="toggleDisplay(i)">Show Additionl Event Information</button> -->


    <div *ngIf="isShow === i">
        <ul class ="additionalInfo">
            <li class="event-info"><strong>Ticket Price Minimum: </strong>${{e?.priceRanges[0]?.min}}</li>
            <li class="event-info"><strong>Ticket Price Maximum: </strong> ${{e?.priceRanges[0]?.max}}</li>
            <li class="event-info"><strong>Venue Contact Information: </strong> <br> {{e?._embedded?.venues[0]?.boxOfficeInfo?.phoneNumberDetail}}</li>

        </ul>
    </div>
</div>

  

  
