<app-search-criteria></app-search-criteria>

<h1>All Events</h1>

<div *ngFor="let e of events; let i =index">
    <ul>

        <a href="{{e.url}}" target="blank"><img width="250" height="150" src={{e?.images[0]?.url}}></a>
        <li>Event Name: {{e?.name}}</li>
        <li>Date: {{e.dates?.start?.localDate}}</li>
        <li>City: {{e?._embedded?.venues[0]?.city.name}}</li>
        <li>State: {{e?._embedded?.venues[0]?.state.stateCode}}</li>
        <li>Postal Code: {{e?._embedded?.venues[0]?.postalCode}}</li>

    </ul>

    <div class="add">
        <button>Add to Bucket List</button>
        <!-- <p>Click + to add the event to your buckelist</p>  -->
    </div>

    <button (click)="toggleDisplay(i)">Show Additionl Event Information</button>


    <div *ngIf="isShow === i">
        <ul>
            <li>Ticket Price Minimum: ${{e?.priceRanges[0]?.min}}</li>
            <li>Ticket Price Maximum: ${{e?.priceRanges[0]?.max}}</li>
            <li>Venue Contact Info.: {{e?._embedded?.venues[0]?.boxOfficeInfo?.phoneNumberDetail}}</li>

        </ul>
    </div>
</div>