/* You can add global styles to this file, and also import other style files */
body{
    background-color:#C0E7FF;
    margin:10px;
    font-family:'source-sans', sans-serif;
}
/* .wrapper{
    background-color:#AC63FF;
    margin:0px;
} */
button{
   color:white;
   font-family:'source-sans', sans-serif;
}
@media only screen and (min-width:768px){
    body{
      width:auto;
      height: 100vh;
    }
}






  
  