
<div class="container">    
  <div class="box">
    <div class="header">
      <img class="logo" src='./assets/images/eventLogoWhite.png' alt="Event-app-logo" />
        <ul class = "navigation">

          <div class="links">
              <li class="find-events-link"><a routerLink="/events" routerLinkActive='active'>Find Events</a></li>
            </div>

              <li><a routerLink="/bucket-list" routerLinkActive='active'>My BucketList</a></li>
          </ul>
    </div>
  <router-outlet></router-outlet>
  </div>
</div>
        <!-- Allow users to filter events based on at least three criteria (e.g.: keyword, location, date
range). -->

    <!-- Display events that match the user’s selected criteria -->

    <!-- Allow users to select individual events to see more details on your site -->

    <!-- Allow users to click a link to see the event on the Ticketmaster site. -->



    <!-- Allow users to mark events from the results for a bucket list. -->

    <!-- Include a separate route where users can
a. See a list of events they’ve marked for the bucket list
b. Select individual events to see more details
c. Remove events from the bucket list -->

<!-- develop mobile-first with additional optimizations for desktop experience -->

