.header{
  background-image: linear-gradient(to bottom left,hsla(300, 86%, 49%, 0.65), 58%, blue),  
  url('/assets/images/neonbrandQftviCWoBQunsplash.jpg');
  background-position: center center;
  background-size: cover;
	background-repeat: no-repeat;

 /* centerpoint is set to 90% from the top
 /* lightness value is 20%, the saturation is 80%, and the transparency is 0.7*/
}

.container {
    display: flex;
    justify-content: center;
}

.search1, .search2, .search3{
    margin: 20px;
}


  .navigation li {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 15px;
    padding: 0px;
    margin:0px;
    width:105px;
    color:white;
    font-family: 'Open Sans', sans-serif;
  }

  a{
    text-decoration:none;
    color:white;
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    padding: 0px;
    margin:0px;
    width:105px;
  }

  ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0px;
    padding: 0px;
    

  }

 .btn{
    background: none;
    border-color:none;
    background-color:none;
}

h1{
  color:white;
}

.logo{
  height: auto;
  width: auto;
  margin: 0;
  padding:0;
  display:flex;
  justify-content: flex-start;

}

.box{
    background-color:#C8E8FC;
  }


  
 


