
.search1{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:98%;
    margin: 25px 5px 20px 5px;
    font-size:12pt;
}
.search2{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:98%;
    margin: 0px 5px 20px 5px;
}
.search3{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:98%;
    margin: 0px 5px 20px 5px;
}
/* .page-section-container{
    background-color:#338CFA;
    height:200px;
} */
input{
    font-size:13pt;
    border-radius: 1px;
    border:none;
    height:32px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:purple;
    opacity: 0.7; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:purple;
    opacity: 0.7;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: purple;
    opacity: 0.7;
}
h2{
    color:white;
    font-size: 20pt;
    font-family:'source-sans', sans-serif;
    padding:0px;
    margin:0px;
    display:flex;
    justify-content: center;
}
.search-headline{
    background-color:#338CFA;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0px 2px 5px 1px rgba(55, 2, 92, 0.207);
}
.search-boxes{
    display:flex;
    justify-content: center;
    flex-direction:column;
    width:100%;
    padding:0px;
    font-size:12pt;
}

button{
   height:35px;
   font-size:14pt;
   color:white;
   border:none;
   border-radius: 12px;
   font-family:'source-sans', sans-serif;
   margin-top:20px;
}

.search-button-style{
    background-color:#AC63FF;
}

.search-and-clear{
    display:flex;
    flex-direction:row;
    margin-right:0px;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.main-search{
    background-color:purple;
    height:50px;
    width:40%;
    flex-direction:row;
    margin:15px 10px 15px 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.clear-search{
    background-color:gray;
    height:50px;
    width:40%;
    flex-direction:row;
    margin: 15px 10px 15px 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center; 
}

::before{
    font-family:'source-sans', sans-serif;
}
@media only screen and (min-width:768px){

h2{
    color:white;
    font-size: 20pt;
    font-family:'source-sans', sans-serif;
    padding: 0px 0px 0px 34px;
    margin:0px 0px 0px 30px;
    display:flex;
    justify-content:flex-start;
}

.search-headline{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    box-shadow:0px 2px 5px 1px rgba(55, 2, 92, 0.207);
    padding: 10px 0px 10px 64px;
}

.search-boxes{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:row;
    width:40%;
    padding:0px;
    font-size:12pt; 
}

.search1{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    margin:0px 20px 0px 20px;
    font-size:12pt;
}

.search2{
    display:flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    margin:0px 20px 0px 20px;
}

.search3{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin:0px 20px 0px 20px;
}

input{
    font-size:13pt;
    border-radius: 1px;
    border:none;
    height:33px; 
    display:flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    margin:0px 15px 0px 20px;
    width:300px;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:purple;
    text-align:center;
    opacity: 0.7; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:purple;
    text-align:center;
    opacity: 0.7;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: purple;
    text-align:center;
    opacity: 0.7;
}

button{
    width:120px;
}

.search-items{
    display:flex;
    justify-items:center;
    align-items:center;
    flex-direction:column;
    margin-top:28px;
}

.search-button-style{
    background-color:#AC63FF;
    margin:0px 10px 0px 0px;
}

.search-and-clear{
    display:flex;
    flex-direction:row;
    margin-right:0px;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:300px;
}

.main-search{
    background-color:purple;
    height:38px;
    width:75%;
    flex-direction:row;
    margin:35px 10px 15px 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.clear-search{
    background-color:gray;
    height:38px;
    width:75%;
    flex-direction:row;
    margin: 35px 10px 15px 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center; 
}


}



