
.search1, .search2, .search3{
    margin: 20px;
}

.page-section-container{
    background-color:purple;
    width:auto;
    height:auto;
}


h1{
    color:white;
    background-color:purple;
}
    
    
